:root {
  --pink: #c586c0;
  --green: #4ec9b0;
  --light-green: #b5cea8;
  --light-blue: #9cdcfe;
  --dark-blue: #569cd6;
  --blue: #4fc1ff;
  --orange: #ce9178;
  --light-gray: #d4d4d4;
  --light-yellow: #dcdcaa;
  --yellow: #ffd700;
  --dark-grey: #1e1e1e;
}
body {
  background-color: var(--dark-grey);
  padding: 10px;
  color: var(--light-gray);
}

.keyword {
  color: var(--pink);
}

.type,
.class,
.module,
.exception {
  color: var(--green);
}

.special-keyword {
  color: var(--dark-blue);
}

.builtin,
.function {
  color: var(--light-yellow);
}

.bracket {
  color: var(--yellow);
}

.variable,
.parameter {
  color: var(--light-blue);
}

.string {
  color: var(--orange);
}

.number {
  color: var(--light-green);
}

.constant {
  color: var(--blue);
}
