:root {
  --pink: #c586c0;
  --green: #4ec9b0;
  --light-green: #b5cea8;
  --light-blue: #9cdcfe;
  --dark-blue: #569cd6;
  --blue: #4fc1ff;
  --orange: #ce9178;
  --light-gray: #d4d4d4;
  --light-yellow: #dcdcaa;
  --yellow: #ffd700;
  --dark-grey: #1e1e1e;
}
body {
  background-color: var(--dark-grey);
  padding: 10px;
  color: var(--light-gray);
}

.import_statement,
.if {
  color: var(--pink);
}

.import_statement.identifier,
.type,
.exception {
  color: var(--green);
}

.def,
.not {
  color: var(--dark-blue);
}

.punctuation-decorator,
.builtin,
.function_definition.identifier,
.identifier.attribute.call {
  color: var(--light-yellow);
}

.function_definition.parameters.bracket,
.bracket {
  color: var(--yellow);
}

.function_definition.parameters,
.function_definition.block.identifier {
  color: var(--light-blue);
}

.string,
.function_definition.parameters.string {
  color: var(--orange);
}

.float {
  color: var(--light-green);
}

.constant {
  color: var(--blue);
}

.parameter.string {
  color: var(--orange);
}

.function_definition.parameters.operator {
  color: var(--light-gray);
}
